In [1]:
# Import Modules
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from pathlib import Path
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv(
    Path('updated_player_data.csv')
)
df.head()

,ID,Name,Age,Nationality,Club,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,...,Position_RB,Position_RCB,Position_RCM,Position_RDM,Position_RF,Position_RM,Position_RS,Position_RW,Position_RWB,Position_ST
0,158023,L. Messi,31,Argentina,FC Barcelona,565000.0,0,5.0,4.0,4.0,...,False,False,False,False,True,False,False,False,False,False
1,20801,Cristiano Ronaldo,33,Portugal,Juventus,405000.0,1,5.0,4.0,5.0,...,False,False,False,False,False,False,False,False,False,True
2,190871,Neymar Jr,26,Brazil,Paris Saint-Germain,290000.0,1,5.0,5.0,5.0,...,False,False,False,False,False,False,False,False,False,False
3,193080,De Gea,27,Spain,Manchester United,260000.0,1,4.0,3.0,1.0,...,False,False,False,False,False,False,False,False,False,False
4,192985,K. De Bruyne,27,Belgium,Manchester City,355000.0,1,4.0,5.0,4.0,...,False,False,True,False,False,False,False,False,False,False

In [5]:
df2 = df.drop(['ID','Name','Nationality','Club','Work Rate'],axis=1)
df2.head()

,Age,Wage,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Body Type,Height,Weight,Crossing,...,Position_RB,Position_RCB,Position_RCM,Position_RDM,Position_RF,Position_RM,Position_RS,Position_RW,Position_RWB,Position_ST
0,31,565000.0,0,5.0,4.0,4.0,1,67.0,159.0,84.0,...,False,False,False,False,True,False,False,False,False,False
1,33,405000.0,1,5.0,4.0,5.0,1,74.0,183.0,84.0,...,False,False,False,False,False,False,False,False,False,True
2,26,290000.0,1,5.0,5.0,5.0,1,69.0,150.0,79.0,...,False,False,False,False,False,False,False,False,False,False
3,27,260000.0,1,4.0,3.0,1.0,0,76.0,168.0,17.0,...,False,False,False,False,False,False,False,False,False,False
4,27,355000.0,1,4.0,5.0,4.0,1,71.0,154.0,93.0,...,False,False,True,False,False,False,False,False,False,False

In [7]:
y = df2['Wage']
X = df2.drop(columns='Wage')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
# Create the StandardScaler instance
scaler = StandardScaler()
# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)
# Scale the training data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
from sklearn.neighbors import KNeighborsRegressor

In [15]:
n_neighbors=5
knn=KNeighborsRegressor(n_neighbors,weights='uniform')
knn.fit(X_train,y_train)
y1_knn=knn.predict(X_train)
y1_knn=list(y1_knn)

In [49]:
from sklearn.metrics import mean_squared_error
import numpy as np
mse = mean_squared_error(y_train, y1_knn)
rmse = np.sqrt(mse)

print(f"The RMSE is: {rmse}")

The RMSE is: 11473.223451909107

In [51]:
n_neighbors=5
knn=KNeighborsRegressor(n_neighbors,weights='uniform')
knn.fit(X_train,y_train)
y2_knn=knn.predict(X_test)
y2_knn=list(y2_knn)

In [52]:
mse = mean_squared_error(y_test, y2_knn)
rmse = np.sqrt(mse)

print(f"The RMSE is: {rmse}")

The RMSE is: 15699.417641610606